<!-- Start Frequently Asked Questions
  ================================================== -->
  <section id="faq" class="position-relative">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 bg-white">
          <div class="section pl-sm-5 pr-sm-5">
            <div class="mb-60">
              <h2 class="text-black fw-3">5 Questions You Need To 
                <strong class="fw-7"> Ask </strong>
                Your
                <span class="text-green"> Web Agency</span>
              </h2>
              <p>If your Web Agency cannot answer these questions, you should be looking elsewhere.</p>
            </div>
            <div id="accordion">
              <div class="card" *ngFor="let q of questions; let i = index">
                <div class="card-header p-0">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true">
                      <span class="accordion-icon ti-plus d-flex align-items-center justify-content-center"></span>
                      {{ q.title }}
                    </a>
                  </h6>
                </div>
                <div id="collapse{{i}}" class="collapse show" data-parent="#accordion">
                  <div class="card-body">
                    {{ q.answer }}
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block" data-parallax data-speed="0.2" data-pos-x="right" data-src="./assets/images/stock/limeade.jpg"></div>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions
    ================================================== -->