<!-- Start Map
  ================================================== -->
  <div id="map" class="section map"></div>
  <!-- End Map
    ================================================== -->
  
  <!-- Start Have any project? Send a message
    ================================================== -->
  <section class="pt-5 pb-5 bg-orange text-white text-center position-relative">
    <span class="have-project-icon bg-orange text-white">
      <i class="fas fa-paper-plane"></i>
    </span>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="fw-3 mb-0">Ready to 
            <strong class="fw-7">get started</strong>?
            
          </h2>
        </div>
      </div>
    </div>
  </section>
  <!-- End Have any project? Send a message
    ================================================== -->
  
  <!-- Start Get in touch today
    ================================================== -->
  <section id="contact" class="section bg-grey">
    <div class="container">
      <div class="row justify-content-center text-center mb-60">
        <div class="col-lg-12">
          <h2 class="text-black fw-3">Give us a
            <strong class="fw-7">squeeze <img class="" src="./assets/images/logos/lime.png" width="40px"></strong>
          </h2>
        </div>
        <div class="col-lg-6">
          <p>We provide free consultations to discover the competitive advantage for your business. Contact us today to schedule an appointment.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="media mb-5">
            <span class="ti-mobile h2 align-self-center"></span>
            <div class="media-body pl-3">
              <h6 class="mb-1 text-black fw-6">Phone:</h6>
              <p><a href="tel:19563207789">+001 956 320 7789</a></p>
            </div>
          </div>
          <div class="media mb-5">
            <span class="ti-email h2 align-self-center"></span>
            <div class="media-body pl-3">
              <h6 class="mb-1 text-black fw-6">Email Address:</h6>
              <p><a href="mailto:hello@limeadelabs.com">hello@limeadelabs.com</a></p>
            </div>
          </div>
          <div class="media mb-5">
            <span class="ti-location-pin h2 align-self-center"></span>
            <div class="media-body pl-3">
              <h6 class="mb-1 text-black fw-6">Address:</h6>
              <p>801 N Bryan Rd. Mission, Texas 78572</p>
            </div>
          </div>
          <div class="media mb-5">
            <span class="ti-calendar h2 align-self-center"></span>
            <div class="media-body pl-3">
              <h6 class="mb-1 text-black fw-6">Office Time:</h6>
              <p>Mon - Fri 9am - 6pm</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <form class="needs-validation" method="post" action="contact.php">
            <div class="row">
              <div class="col-lg-12">
                <div class="messages"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <div class="position-relative">
                    <input type="text" name="name" class="form-control" required="required" data-error="Name is required.">
                    <label>Name
                      <span class="text-danger">*</span>
                    </label>
                    <span class="focus-border bg-green"></span>
                  </div>
                  <div class="help-block with-errors text-danger"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <div class="position-relative">
                    <input type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                    <label>Email
                      <span class="text-danger">*</span>
                    </label>
                    <span class="focus-border bg-green"></span>
                  </div>
                  <div class="help-block with-errors text-danger"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <div class="position-relative">
                    <input type="tel" name="phone" class="form-control">
                    <label>Phone</label>
                    <span class="focus-border bg-green"></span>
                  </div>
                  <div class="help-block with-errors text-danger"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <div class="position-relative">
                    <input type="text" name="subject" class="form-control" required="required" data-error="Subject is required.">
                    <label>Subject
                      <span class="text-danger">*</span>
                    </label>
                    <span class="focus-border bg-green"></span>
                  </div>
                  <div class="help-block with-errors text-danger"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                  <div class="position-relative">
                    <textarea name="message" class="form-control" rows="8" required="required" data-error="Please,leave us a message."></textarea>
                    <label>Message
                      <span class="text-danger">*</span>
                    </label>
                    <span class="focus-border bg-green"></span>
                  </div>
                  <div class="help-block with-errors text-danger"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-send btn-green">Send message
                  <i class="far fa-paper-plane pl-3"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Get in touch today
    ================================================== -->
  
  <!-- Start Footer
    ================================================== -->
  <footer class="section bg-black text-white">
    <div class="container">
      <div class="row justify-content-center text-center mb-30">
        <div class="col-lg-12">
          <h2 class="fw-3">
            <img src="./assets/images/logos/namemark_2.png" width="325px">
          </h2>
        </div>
        <div class="col-lg-6">
          <p>We design, develop and build web and mobile applications. We analyze data, update codebases, produce websites, launch products and more.</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <p>2018 © Limeade Labs.</p>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-lg-12">
          <ul class="list-unstyled mb-0 footer-social">
            <li>
              <a href="https://www.facebook.com/Limeade-Labs-2656297957929493/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="mailto:hello@limeadelabs.com">
                <i class="far fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/limeade-labs/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer
    ================================================== -->
  
  <!-- Start Back to Top
    ================================================== -->
  <a href="#" class="back-to-top" id="back-to-top">
    <span class="ti-arrow-up"></span>
  </a>
  <!-- End Back to Top
    ================================================== -->