<!-- Start WE ARE HIRING CREATIVE PEOPLE
  ================================================== -->
  <section id="hire-us" class="section bg-white">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-7">
          <div class="mb-30">
            <h2 class="text-uppercase text-black fw-3">we are
              <strong class="fw-7 text-orange">hiring creative</strong> people</h2>
            <p>It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate</p>
          </div>
          <p>
            <span class="dropcaps text-blue">L</span>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survive</p>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            form, by injected humour</p>
        </div>
        <div class="col-lg-4">
          <div class="drop-cv mt-30">
            <input type="file" class="custom-file-input">
            <div class="drop-cv-inner">
              <span class="ti-user cv-icon"></span>
              <p class="mt-2">Drop Your CV</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End WE ARE HIRING CREATIVE PEOPLE
    ================================================== -->