<!-- Start Our Skills Are
  ================================================== -->
  <section class="position-relative skills-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 bg-white">
          <div class="section pl-sm-5 pr-sm-5">
            <div class="mb-60">
              <h2 class="text-black fw-3">Our
                <strong class="fw-8">Skills </strong>
                <span class="text-green">Are</span>
              </h2>
              <p>Our services include, but are not limited to:</p>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">Custom Web App Development</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-violet" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">Mobile App Development</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-green" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">Search Engine Optimization</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-dark-grey" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">eCommerce Solutions</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-dark-blue" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">Photography</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-blue" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">Branding & Strategy</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-yellow" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">UI & UX DESIGN</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-orange" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="fw-6 text-black mb-2 mt-30">WordPress</h6>
            <div class="progress rounded-0">
              <div class="progress-bar bg-dark-pink" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block" data-parallax data-speed="0.2" data-pos-x="right" data-src="./assets/images/stock/step2.jpg"></div>
      </div>
    </div>
  </section>
  <!-- End Our Skills Are
    ================================================== -->