<!-- Start Our Portfolio
  ================================================== -->
<section id="portfolio" class="pt-100 bg-grey">
  <div class="container">
    <div class="row justify-content-center text-center mb-60">
      <div class="col-lg-12">
        <h2 class="text-black fw-3">Our
          <strong class="fw-7">Portfolio</strong>
        </h2>
      </div>
      <div class="col-lg-6">
        <p>We build things. Mobile Apps, Websites, Digital Marketing Campaigns, &amp; <strong class="fw-7">Everything In Between.</strong></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-lg-12">
        <ul class="portfolio-filter list-unstyled text-center text-black portfolio-filter">
          <li class="d-inline-block active" data-filter=".all">All</li>
          <li class="d-inline-block" data-filter=".design">Design</li>
          <li class="d-inline-block" data-filter=".web">Web</li>
          <li class="d-inline-block" data-filter=".branding">Branding</li>
          <li class="d-inline-block" data-filter=".print">Print</li>
        </ul>
      </div>
    </div> -->

    <ul class="row list-unstyled mb-0 portfolio-row">
      <li class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-30 portfolio-col all web" *ngFor="let work of works">
        <div class="portfolio-item">
          <div class="portfolio-item-inner">
            <div class="portfolio-item-img">
              <img class="img-fluid d-block ml-auto mr-auto w-100" [src]="work.image" alt="Portfolio">
            </div>
            <div class="portfolio-item-content text-white d-flex justify-content-center align-items-center text-center">
              <div>
                <h6 class="text-uppercase mb-2 fw-6">{{work.name}}</h6>
                <p class="mb-0">{{work.description}}</p>
                <a class="portfolio-item-view popup-image" [href]="work.image">
                  <span class="ti-search"></span>
                </a>
                <a *ngIf="work.url != ''" class="portfolio-item-link" [href]="work.url">
                  <span class="ti-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- <div class="row text-center">
      <div class="col-lg-12">
        <a href="#" class="btn btn-green mt-60">LOAD MORE</a>
      </div>
    </div> -->
  </div>
</section>
<!-- End Our Portfolio ================================================== -->
