<!-- Start PreLoader
    ================================================== -->
<div id="pre-loader" class="pre-loader">
  <div class="cube-wrapper">
    <div class="cube-folding">
      <span class="leaf1"></span>
      <span class="leaf2"></span>
      <span class="leaf3"></span>
      <span class="leaf4"></span>
    </div>
    <span class="loading" data-name="Loading">Loading</span>
  </div>
  <div class="pre-loader-logo brand-font">
    <span class="text-uppercase fw-2 text-white">Limeade
      <span class="fw-8 text-black">Labs</span>
    </span>
  </div>
</div>
<!-- End PreLoader
  ================================================== -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> 