<!-- Start Home
  ================================================== -->
  <section id="home" class="d-flex align-items-center section text-white half-home" data-parallax data-speed="0" data-src="">
    <!-- <div class="overlay-gridtile-black"></div> -->
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-12">
          <h2 class="text-uppercase mb-0 fw-7">We don't just make </h2>
          <h1 class="text-uppercase mb-0 fw-7 text-yellow font-50 font-sm-80 font-md-100 font-lg-150">websites.</h1>
          <h5 class="fw-4"> We help our clients build their brands through interactivity.</h5>
          <a href="#contact" class="btn btn-green ml-3 mr-3 mt-4 page-scroll">get in touch</a>
          <a href="#portfolio" class="btn btn-blue ml-3 mr-3 mt-4 page-scroll">view our work</a>
        </div>
      </div>
    </div>
    <a href="#services" class="home-scroller page-scroll text-white">
      <span class="ti-mouse"></span>
    </a>
  </section>
  <!-- End Home
    ================================================== -->

<!-- Start Services
  ================================================== -->
  <section id="services" class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-green service-box text-center">
          <div class="service-box-inner">
            <span class="ti-light-bulb font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Web</strong> Design</h5>
            <div class="service-hidden-content">
              <p>We create clean, modern websites that attracts new customers, increases conversions, and helps retain loyal customers.</p>
              <!-- <p>We'll work with you to craft a unique and flexible site that is prepared to help you grow.</p> -->
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-heart font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">Easy Site 
              <strong class="fw-6">Updates</strong>
            </h5>
            <div class="service-hidden-content">
              <p>Our clients love our easy-to-use system. This fully-managed CMS and hosting service makes it really simple for busy people to update text and photos on their websites without having to mess around with code.</p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-dark-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-palette font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Logo &amp; Brand</strong> Design</h5>
            <div class="service-hidden-content">
              <p>
                Branding creates an impression and establishs your values to your customers. We work with you to create collateral to help you stand out to the customers you want to attract.
              </p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-yellow service-box text-center">
          <div class="service-box-inner">
            <span class="ti-mobile font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Mobile</strong> App Development</h5>
            <div class="service-hidden-content">
              <p>
                Creating an app starts with great ideas; but we know there’s more to it than that. We formulate a plan, and then build the application that innovates.
              </p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-orange service-box text-center">
          <div class="service-box-inner">
            <span class="ti-split-v-alt font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">eCommerce</strong></h5>
            <div class="service-hidden-content">
              <p>
                Growing businesses take their company to the next level with eCommerce. We create attractive, contemporary eCommerce websites that inspire trust and connect with visitors emotionally. 
              </p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-dark-pink service-box text-center">
          <div class="service-box-inner">
            <span class="ti-desktop font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Digital</strong> Marketing</h5>
            <div class="service-hidden-content">
              <p>
                When customers Google you, what do they see? Inspire confidence and drive sales with a professional, active online presence.
              </p>
              <!-- <p>
                We grow your business in new areas with strategic campaigns.
              </p> -->
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-green service-box text-center">
          <div class="service-box-inner">
            <span class="ti-search font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">SEO</strong>
            </h5>
            <div class="service-hidden-content">
              <p>
                We check your rankings before and after launch, assess the impact, and make changes where needed to ensure your site launches strong &amp; and gives you a competitive edge.
              </p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0 ">
        <div class="bg-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-headphone-alt font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Awesome</strong> Support</h5>
            <div class="service-hidden-content">
              <p>
                We offer On-going support & training when you come onboard as our client. Nobody should struggle with managing their web or mobile application all by themselves.
              </p>
            </div>
            <!-- <a class="service-read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services
    ================================================== -->