<!-- Start Home
  ================================================== -->
  <section id="home" class="d-flex align-items-center section text-white half-home" data-parallax data-speed="0" data-src="./assets/images/stock/office1.jpg">
    <!-- <div class="overlay-gridtile-black"></div> -->
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-12">
          <h2 class="text-uppercase mb-0 fw-7">We don't just make </h2>
          <h1 class="text-uppercase mb-0 fw-7 text-yellow font-50 font-sm-80 font-md-100 font-lg-150">websites.</h1>
          <h5 class="fw-4"> We help our clients build their brands through interactivity.</h5>
          <a href="#contact" class="btn btn-green ml-3 mr-3 mt-4 page-scroll">get in touch</a>
          <a (click)="api.navigateTo('portfolio')" class="btn btn-blue ml-3 mr-3 mt-4 page-scroll">view our work</a>
        </div>
      </div>
    </div>
    <a href="#services" class="home-scroller page-scroll text-white">
      <span class="ti-mouse"></span>
    </a>
  </section>
  <!-- End Home
    ================================================== -->

<!-- Start Services
  ================================================== -->
  <section id="services" class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-green service-box text-center">
          <div class="service-box-inner">
            <span class="ti-light-bulb font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Classic</strong> Service</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-heart font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">Love Our
              <strong class="fw-6">Clients</strong>
            </h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-dark-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-palette font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Professional</strong> Design</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-yellow service-box text-center">
          <div class="service-box-inner">
            <span class="ti-mobile font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Mobile</strong> App Design</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-orange service-box text-center">
          <div class="service-box-inner">
            <span class="ti-split-v-alt font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Web</strong> Development</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-dark-pink service-box text-center">
          <div class="service-box-inner">
            <span class="ti-desktop font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Web</strong> Design</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0">
        <div class="bg-green service-box text-center">
          <div class="service-box-inner">
            <span class="ti-search font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">SEO</strong>
            </h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 pl-0 pr-0 ">
        <div class="bg-blue service-box text-center">
          <div class="service-box-inner">
            <span class="ti-headphone-alt font-60 service-icon"></span>
            <h5 class="mt-5 mb-3 fw-3">
              <strong class="fw-6">Awesome</strong> Support</h5>
            <div class="service-hidden-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer</p>
            </div>
            <a class="service-read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services
    ================================================== -->

<app-partner-slider></app-partner-slider>

<app-awesome-elements></app-awesome-elements>

<app-perks></app-perks>
